body {
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 40px;

    header {
        >h1 {
        text-align: center;
        }
    }

    img {
        justify-content: center;
        width: 450px;
        height: 350px;
       }

    footer {
        display: flex;
        justify-content: space-between;
        height: 25px;
       
           >div {
            padding-left: 40px;
            width: 30px;       
        }
           >a {
          padding-right: 40px;
          width: 30px;   
        }
    }

}
